nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #dadada;
}

nav a {
  padding: 20px;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}
/* 
#walletContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #dadada;
  padding-right: 40px;
  padding-left: 40px;
  height: 100vh;
} */

.wallet {
  display: flex;
  flex-direction: row;
}

.wallet div {
  padding: 20px;
}

.ModalContainer {
  height: 45%;
  width: 30%;
}