body {
  background-color: #f2f2f2;
  height: 1000px;
}

nav {
  height: 100px;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1b2136;
  padding-right: 50px;
  z-index: 10;
}

nav h1 {
  color: white;
  margin-left: 50px;
  letter-spacing: 4px;
  font-size: 36px;
  font-weight: 300;
}

#logo {
  margin-left: 65px;
  font-size: 22px;
  color: white;
  font-display: bold;
}

h1 {
  color: #006BE8;
}

* a {
  color: black;
  text-decoration: none;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  margin-left: 50px;
}

.stats {
  margin-top: 100px;
}

button:focus { outline:none }

.wallet {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

.wallet p {
  color: white;
  font-size: 22px;
  padding: 20px;
}

.wallet div {
  padding: 20px;
}

.accountInfo {
  display: flex;
  flex-direction: row;
}

#outerGrid {
  width: 100%;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: stretch;
  height: 80%;
  margin-left: 10%;
  padding-top: 150px;
  z-index: 0;
}
#avatar {
    align-items: 'center';
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
  }

.card-actions{
  width: 100%;
  align-items: center;
  z-index: 0;
}

.buttons {
  align-self: flex-start;
    z-index: 0;

}

.up-vote {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding: 10px
}

.check-mark {
  align-self: flex-start;
}

#vote-number {
  margin: 1px;
  padding: 1px;
  border: 1px;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.path {
  width: 15%;
  align-self: flex-end;
  padding: 30px;
  margin: 30px;
  border: 30px;
}

.ethereum-icon {
   padding: 10px;
   height: 20px;
   width: 20px;
   align-self: flex-end;
}
.card-header {
  align-items: "center";
  justify-content: "center";
  display: flex;
}
#card {
  width: 300px;
  height: 300px;
  border-radius: 35px;
  margin: 20px;
  align-self: "center";
}

.wallet button {
  background-color: #006BE8;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 120px;
  font-size: 26px;
  color: white;
  border-radius: 10px;
}

.topDonations {
  width: 400px;
  margin-top: 30px;
  margin-right: 100px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 35px;
}

.topDonations h3 {
  color: black;
}

.donationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}