nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #dadada;
}

nav a {
  padding: 20px;
}

* a {
  color: black;
  text-decoration: none;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.wallet {
  display: flex;
  flex-direction: row;

}

.wallet div {
  padding: 20px;
}

.accountInfo {
  display: flex;
  flex-direction: row;
}

.grid-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 30px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px;
  align-content: stretch;
  height: 100%;
}

.card-image {
  width: 90%;
  height: 100px
}

#card {
  width: 300px;
  height: 300px;
}